@charset "utf-8";







/* Preview image styles  */
#img0{
	height: 300px;
	object-fit: cover;
	margin-bottom: 10px;
}

/*  thumbnail gallery styles */
/*
#thumbnail-gallery-wrapper{
	overflow-x: scroll;
    position: relative;
    height: 120px;
}
*/

#thumbnail-gallery{
	position: absolute;
    width: 1000px;
}
#thumbnail-gallery .tb-img-wrapper{
	display: inline-block;
	max-width: 25%;
	height: 100px;
	margin-right: 5px;
	cursor: pointer;
}
#thumbnail-gallery .tb-img-wrapper img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}



